@use 'src/styles/vars';

.form {
  width: 40%;
  border: solid 1px rgb(114, 113, 113);
  margin: vars.$margin 30%;
  padding: vars.$padding  0;
  &__flexTitle {
    display: flex;
  }
  &__title {
    width: 100%;
    text-align: center;
    font-family: vars.$basker;
    font-style: italic;
    font-size: vars.$fontSize * 1.5;
  }
  &__connexion, &__register {
    width: 100%;
  }

  &__flexInput {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: calc(15% - 1.5rem);
    margin-bottom: vars.$margin * 0.5;
  }

  &__cardIco {
    width: 3rem;
    height: 3rem;
    background-color: rgb(81, 79, 79);
  }
  &__ico {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
  }
  &__label {
    width: 100%;
    font-size: vars.$fontSize;
    box-sizing: none;
    padding: none;
    visibility: hidden;
  }

  &__input {
    width:70%;
    height: 3rem;
    padding: 0;
    border: none;
    background-color: rgb(206, 206, 206);
    font-size: vars.$fontSize * 1.25;
    font-family: vars.$penny;

    &--red {
      border: solid 2px red;
    }

    &::placeholder {
      color: black;
      text-indent: 1rem;
      font-size: vars.$fontSize * 1.25;
      font-family: vars.$penny;
    }
  }

  &__eyes {
    position: relative;
    left: 80%;
    top: 4rem;
  }

  &__select {
    font-family: vars.$penny;
    width: 20%;
    font-size: vars.$fontSize * 1.25;
  }

  &__submit {
    margin-top: vars.$margin * 0.5;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    font-family: vars.$penny;
    font-size: vars.$fontSize * 1.5;
    color: vars.$titleColor;
  }

  &__message {
    width: 100%;
    margin: vars.$margin * 2 0;
    color: red;
    font-family: vars.$penny;
    font-size: vars.$fontSize * 2;
    font-weight: bolder;
    text-align: center;
  }
  &__loading {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: vars.$margin * 2;
  }
  &__sendNewCode {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
    font-family: vars.$penny;
    color: vars.$titleColor;
    font-size: vars.$fontSize * 1.5;
    font-style: italic;
  }
  &__passwordForgotten {
    background-color: transparent;
    width: 30%;
    text-align: center;
    margin: 0 35%;
    color: vars.$titleColor;
    border: none;
    font-family: vars.$basker;
    font-size: vars.$fontSize;
    padding-bottom: vars.$padding ;
  }
  &__message {
    color: black;
    font-family: vars.$basker;
    text-align: center;
    font-size:  vars.$fontSize * 1.25;
    font-weight: bolder;
    font-style: italic;
    margin: vars.$margin  0  vars.$margin 0;
  }
}