@use 'src/styles/vars';

.validation {
  width: 40%;
  padding: vars.$padding * 2 30%;

  &__title {
    font-size: vars.$fontSize * 1.5;
    font-family: vars.$basker;
    font-style: italic;
    text-align: center;
  }

  &__loader {
    display: flex;
    justify-content: center;
    margin-top: vars.$margin* 2;
  }

  &__message {
    width: 50%;
    text-align: center;
    margin: vars.$margin  25%;
    padding-top: vars.$padding;
    font-family: vars.$penny;
    color: red;
    font-size: vars.$fontSize * 2;
  }
  &__button {
    background-color: transparent;
    border: none;
    color: vars.$titleColor;
    font-family: vars.$basker;
    font-size: vars.$fontSize;
    padding-top: vars.$padding;
  }
}