@use "sass:color";
@use 'src/styles/vars';
@import "src/styles/mixin";


.footer {
  @media screen and (max-width : 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 20vh;
  }
  padding-top: 5rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: vars.$padding;

  &__title {
    @media screen and (max-width : 1200px) {
      width: 100%;
      text-align: center;
    }
    @include penny(color.scale(vars.$backgroundColor, $lightness: -40%), vars.$fontSize * 3, white, 4px, 20%);
    text-transform: capitalize;
  }
  &__nav {
    @media screen and (max-width : 1200px) {
      width: 100%;
    }
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    color: black
  }
  &__link {
   @media screen and (max-width : 800px) {
    margin:  0;
    width: 100%;
    
   }
    width: calc((100% / 3) - vars.$margin * 2);
    text-align: center;
    margin: 1rem vars.$margin;
  }

}