@use 'src/styles/vars';
@import 'src/styles/mixin';

.header {
  @include flexCenter(100%, "center");
  height: 20vh;
  position: relative;
  
  &__title, &__descript {
    @media screen and (max-width : 800px) {
      width: 70%;
      margin-left: 15%;
    }
      @include penny(vars.$titleColor, vars.$fontSize * 3, white, 2px, 100%);
      margin-top: vars.$margin;
      font-weight: bolder;
    &--80 {
      width: 50%; 
    }
  }
  &__title {
    @media screen and (max-width : 800px) {
      display: flex ;
      justify-content: center;
    }
    text-decoration: none;
      text-transform: capitalize;
  }
  &__descript {
      font-size: vars.$fontSize * 1.5;
  }

  &__trigram { 
    width: 5rem;
    &::before{
      content: '\2630';
      font-size: vars.$fontSize * 2;
      font-weight: bolder;
      padding-bottom: vars.$margin;
      margin-right: vars.$margin;
   
    }
    &--flex {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 2rem;
      background: radial-gradient(vars.$backgroundColor, white);
    
    }
    &--link {
      text-decoration: none;
      font-size: vars.$fontSize ;
      text-align: left;
      margin-bottom: vars.$margin / 2;
      font-family: vars.$basker;
      color: black;
      text-shadow: none;
      
      &:active {
        color: black;
      }
      &:hover {
        color: black
      }
    }
  }
  
  
  
  &__avatar {
    width: 10%;
    margin-top: vars.$margin ;
    position: absolute;
    left: calc(80% - 2rem);
    display: flex; 
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    
    &--icoDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:white;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-bottom: vars.$margin / 2;
      margin-left: 0.75rem;
    }
    &--ico {
      width: 2rem;
      height: 2rem;
    }
    &--link {
      margin-bottom: vars.$margin / 2;
      text-decoration: none;
      color: black;
    }
  }

}