@use 'sass:color';
@use 'src/styles/vars';
@import 'src/styles/mixin';


.header {
  @include flexCenter(100%, "center");
  height: 100%;
  margin-bottom: vars.$margin ;
  position: relative;
  
  &__title, &__descript {
    @media screen and (max-width : 800px) {
      width: 70%;
      margin-left: 15%;
    }
      @include penny(vars.$titleColor, vars.$fontSize * 3, white, 2px, 100%);
      margin-top: vars.$margin;
      font-weight: bolder;
    &--80 {
      width: 50%; 
    }
  }
  &__title {
    @media screen and (max-width : 800px) {
      display: flex ;
      justify-content: center;
    }
    &--title {
      @include penny(vars.$titleColor, vars.$fontSize * 3, white, 2px, 100%);
      text-transform: capitalize;
      text-decoration: none;
    }
  
  }
  &__descript {
      font-size: vars.$fontSize * 1.5;
  }

  &__trigram { 

    &--logo::before{
      content: '\2630';
      font-size: vars.$fontSize * 2;
      font-weight: bolder;
      padding-bottom: vars.$margin;
      margin-right: vars.$margin;
    }

    &--flex {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      width: 100%;
      margin: auto;
      background: radial-gradient(vars.$backgroundColor, white);
    
    }
    &--link {
      @include penny(color.scale(vars.$backgroundColor, $lightness: -60%), vars.$fontSize * 1.5, white, 3px, 100%); 
      text-align: left;   
      margin: vars.$margin / 2 vars.$margin;  
      text-decoration: none;
      &:active {
        color: black;
      }
      &:hover {
        color: black
      }
    }
  }
  
  
  
  &__avatar {
    width: 10%;
    margin-top: vars.$margin ;
    position: absolute;
    left: calc(80% - 2rem);
    display: flex; 
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    
    &--icoDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:white;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-bottom: vars.$margin / 2;
      margin-left: 0.75rem;
    }
    &--ico {
      width: 2rem;
      height: 2rem;
    }
    &--link {
      margin-bottom: vars.$margin / 2;
      text-decoration: none;
      color: black;
    }
  }

}