@use 'src/styles/vars';

.interface {
  width: 80%;
  margin: vars.$margin auto;

  &__begin {
    position: relative;
    top: 8rem;
    font-size: vars.$fontSize * 4;
    text-align: center;
    font-family: vars.$penny;
    font-weight: bolder;
    color: red;
    text-shadow: vars.$titleColor 4px 4px;

  }
  &__counter {
    font-size: vars.$fontSize * 1.75;
    text-align: center;
    color: vars.$titleColor;
    font-family: vars.$penny;
    font-weight: bolder;
    text-shadow: red 1px 1px;
  }

  &__game {
    margin-top: vars.$margin * 2;
    padding: vars.$padding;
    border: gray 1px solid;

    &--50 { 
      margin-left: vars.$margin;
      border: black solid 1px;
      width: 60%;
    }
  }
  &__question {
    display: flex;
    margin-top: vars.$margin / 2;
    font-size: vars.$fontSize * 1.5;
    font-family: vars.$penny;
  }

  &__form {
    position: relative;
    bottom: 0.75rem;

    &--text {
      width: 4rem;
      height: 2.5rem;
      font-size: vars.$fontSize *1.5;
      font-family: vars.$penny;
      border-radius: 10px;
      margin: 0 vars.$margin 0 vars.$margin / 2;
    }

    &--submit {
      font-size: vars.$fontSize * 1.5;
      font-family: vars.$penny;
      background: none;
      border: none;
    }
  }
  .interface__containerFinished {
    margin-top: vars.$margin;
    border-top: dotted 5px rgb(192, 190, 190);
    
  }
  &__finished {
    text-decoration: line-through vars.$titleColor 1px;
  }
  &__response {
    display: flex;
    color: red;
    font-size: vars.$fontSize *1.25;
    flex-direction: column;
    line-height: 2rem;
  }
  &__color {
    &--green {
      color: green;
    }
    &--red {
      color: red;
    }
  }
 &__ico {
    font-size: vars.$fontSize * 2.5;
    margin: 0 vars.$margin;
    position: relative;
    bottom:  0.5rem;
    &--ok {
      color: green;
      &::after {
        content: "\00221A";
      }
    }
    &--wrong{
      color: red;
      &::after {
        content: "X";
      }
    }
  }
 
  &__average {
    text-align: center;
    font-size: vars.$fontSize  * 4;
    margin-top: vars.$margin * 8;
    font-family: vars.$basker;

    &--green {
      color: green;
    }
    &--red {
      color: red;
    }
  }
  &__loader{
    margin-left: calc(50% - 40px);
    margin-top: vars.$margin * 4
  }
  &__category {
    font-size:  vars.$fontSize *1.75;
    font-family: vars.$penny;
    color : vars.$titleColor;
    text-align: center;
    margin-top: vars.$margin *3;
    font-weight: bolder;
    text-shadow: red 1px 1px;
    
    &--name {
    margin-top: vars.$margin ;
    font-size:  vars.$fontSize *1.5;
    text-shadow: black 1px 1px;
    }
  }
  &__color {
    &--title {
      font-size:  vars.$fontSize *1.75;
      font-family: vars.$penny;
      color : vars.$titleColor;
      text-align: center;
      font-weight: bolder;
      text-shadow: red 1px 1px;
    }
    &--ico {
      height: 5rem;
      width: 5rem;
      margin-left:  calc(50% - 2.5rem);
      margin-top: vars.$margin *2;
    }
    &--responseIcon {
      width: 6rem;
      height: 6rem;
      margin: auto;
      margin-top: vars.$margin;
    }
    &--listIcon {
      width: calc(25% - vars.$margin) ;
      height: 4rem;
      margin-right: vars.$margin;
      margin-bottom: vars.$margin;
      border: solid  black 1px;
    }

   
    &--form {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top: vars.$margin;
      width: 80%;
    }
    &--input {
      width: 25%;
      margin: auto;
      padding: vars.$padding * 0.25;
      font-size: vars.$fontSize *1.25;
      border-radius: 10px;

      &::placeholder {
        color: vars.$titleColor;
        text-align: center;
      }
    }
    &--submit {
      background: none;
      border: none;
      margin-top: vars.$margin;
      font-size: vars.$fontSize *1.5;
    }

    &--containerFlex {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: vars.$margin;
      font-size: vars.$fontSize * 1.25;
    
      text-align: center;
      font-weight: bolder;

      &--title {
        width: 100%;
        margin-bottom: vars.$margin;
        color: vars.$titleColor;  
        font-family: vars.$penny;
        font-size: vars.$fontSize * 1.5;
        text-shadow: red 1px  1px;
      }
    }
    &--elementText {
      width: 25%;
   
      margin: vars.$margin * 0.5  0;
    }

   
  }
  &__finish {
    display: flex;
    flex-direction: column;
    margin-top : vars.$margin * 4;
    text-align: center;
    font-size: vars.$fontSize * 1.75;
    font-weight: bold; 
    text-shadow: black 2px 2px;

    &--good {
      color: yellowgreen;
     
    }
    &--bad {
      color: red;
    }
    &--min {
      font-size: vars.$fontSize;
      text-shadow: none;
      margin-top: vars.$margin;
      color: black;
    }
    &--text {
      font-size: vars.$fontSize * 2;
      margin: auto;
      margin-top: vars.$margin * 3;
      text-align: center;
    }
  }

}