@use 'src/styles/vars';
th{
  border: solid gray 2px;
  padding : vars.$padding * 0.5
}
td {
  border: solid white 2px;
  padding : vars.$padding * 0.5
}


.account {
  @media screen and (max-width : 800px) {
    flex-direction: column;
  }
  width: 100%;
  display: flex;
  margin-top: vars.$margin * 2;

  &--80 {
    width:  60%;
    margin-left: 20%;
  }
  &__container {
    @media screen and (max-width : 1200px) {
      margin: none;
      width: 100%;
    }
    width: calc(75% - vars.$margin * 3);
    margin : 0, vars.$margin, vars.$margin 0;
    border: gray 1px solid;
  }

  &__menu {
    @media screen and (max-width : 800px) {
      width: 100%;
      border: none;
      margin: 0;
      padding: 0;
    }
    min-width: none;
    padding:  0 vars.$padding;
    line-height: 2rem;
    border: gray solid 1px;
    margin: 0 vars.$margin;
    display: flex;
    flex-direction: column;
   
    &--link {
      @media screen and (max-width : 800px) {
        width: 50%;
        margin:   vars.$margin * 0.5 0  vars.$margin * 0.5 0;
        color: inherit;
        font-weight: inherit;
        text-shadow: none;
        font-family: vars.$basker;

      }
      text-decoration: none;
      width: 100%;
      margin-top: vars.$margin;
      font-family: vars.$penny;
      font-size: vars.$fontSize * 1.25;
      color: vars.$titleColor;
      text-shadow: black 1px 1px;
    }
   @media screen and (min-width  : 800px) {
      &--red {
        color: red;
        font-size: vars.$fontSize * 1.75;
        font-weight: bolder;
        text-shadow: white 2px 2px;
      } 
   }
    
  }
  &__errorText {
    width: 80%;
    text-align: center;
    font-weight: bolder;
    color: red;
    text-shadow: black 1px  1px;
    line-height: 3rem;
    font-family: vars.$basker;
    font-size: vars.$fontSize * 1.5 ;
    margin: auto;
    position: relative;
    top: 10rem;
  }
  &__loading {
    width: 80px;
    margin: vars.$margin  * 2 auto ;
  }

  &__form {
    height: 100%;
    margin-top: vars.$margin * 2
  }

  &__result {
    &--container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--flex {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    &--flexRow {
      margin: auto;
      margin-top: vars.$margin * 0.5;
      width: 80%;
      justify-content: center;
    }
    &--toogleExam {
      text-align: center;
      border: none;
      padding-bottom : vars.$padding * 2
    }
    &--name {
      text-align: center;
      font-size: vars.$fontSize * 1.5;
      margin: vars.$margin 0;
      margin-bottom: vars.$margin;
      font-family: vars.$penny;
      color: vars.$titleColor;
      font-weight: bolder;
      text-shadow: red 1px 1px;
    }
    &--link {
     text-align: center;
     margin-bottom: vars.$margin * 0.75;
      text-decoration: none;
      color: black;
    }
    &--close::before {
      content: '+';
      font-size: vars.$fontSize * 1.5 ;
      margin-right: vars.$margin / 2;
    }
    &--open::before {
      content: '-';
      font-size: vars.$fontSize * 1.5 ;
      margin-right: vars.$margin / 2;
    }
    &--select {
      width: 40%;
      margin: auto;
      padding: vars.$padding * 0.25;
      border: 2px solid grey;
      background-color: transparent;
    }
  }
  &__askLogin {
    min-width:  50%;
    display: flex;
    flex-direction: column;

    &--title {
      margin-bottom: vars.$margin;
      text-align: center;
      line-height: 2.5rem;
      font-family: vars.$basker;
      font-size: vars.$fontSize * 1.25;
    }
    &--error {
      font-weight: bolder;
      color: red;
      text-align: center;
      margin: vars.$margin 0;
      font-size: vars.$fontSize * 1.5;
    }
  }
  &__note {
    
    &--red {
      color: red;
      font-size: vars.$fontSize * 2;
      text-align: center;
      font-weight: bolder;
    }
    &--green {
      color: yellowgreen;
      font-size: vars.$fontSize * 2;
      text-align: center;
      font-weight: bolder;
    }
  }
  &__message {
    font-family: vars.$penny;
    font-size: vars.$fontSize * 2;
    line-height: 4rem;
    padding-top: vars.$padding *2;
    text-align: center;
    width: 50%;
    margin: auto;
    font-weight: bolder;
  }
}