@use 'src/styles/vars';
.account {
  width: 100%;
  display: flex;
  margin-top: vars.$margin * 2;

  &__container {
    width: calc(75% - vars.$margin * 3);
    margin : 0, vars.$margin, vars.$margin 0;
    border: gray 1px solid;
  }

  &__menu {
    width: 25%;
    line-height: 2rem;
    border: gray solid 1px;
    margin: 0 vars.$margin;
    
    &--link {
      margin-bottom: vars.$margin;
      font-family: vars.$penny;
      font-size: vars.$fontSize * 1.25;
      color: vars.$titleColor;
      text-shadow: black 1px 1px;
    }
  }
  &__errorText {
    width: 80%;
    text-align: center;
    font-weight: bolder;
    color: red;
    text-shadow: black 1px  1px;
    line-height: 3rem;
    font-family: vars.$basker;
    font-size: vars.$fontSize * 1.5 ;
    margin: auto;
    position: relative;
    top: 10rem;
  }
  &__loading {
    width: 80px;
    margin: vars.$margin  * 2 auto ;
  }

  &__form {
    height: 100%;
    margin-top: vars.$margin * 2
  }

  &__result {
    &--container {
      width: 100%;
    }

    &--flex {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    &--name {
      text-align: center;
      font-size: vars.$fontSize * 1.5;
      margin: vars.$margin 0;
      margin-bottom: vars.$margin;
      font-family: vars.$penny;
      color: vars.$titleColor;
      font-weight: bolder;
      text-shadow: red 1px 1px;
    }
    &--link {
      margin: vars.$margin / 4 0;
      text-decoration: none;
      color: black;

    }
  }
  &__askLogin {
    margin-left: vars.$margin;
    display: flex;
    flex-direction: column;

    &--title {
      margin-bottom: vars.$margin;
      text-align: center;
      line-height: 2.5rem;
      font-family: vars.$basker;
      font-size: vars.$fontSize * 1.25;
    }
    &--error {
      font-weight: bolder;
      color: red;
      text-align: center;
      margin: vars.$margin 0;
      font-size: vars.$fontSize * 1.25;
    }
  }
}