@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


$fontSize: 1rem;
$penny: 'Henny Penny';
$basker: 'Libre Baskerville';
$margin : 2rem;
$padding : 2rem;
$titleColor : rgb(119, 13, 176);
$backgroundColor : rgb(0, 195, 255);
